html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #689d99, #000e0d);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* background: linear-gradient(to bottom, #689d99, #000e0d); Gradient background */
    min-height: 100vh; /* Ensures that the background extends to the full height of the viewport */
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; /* Allows this section to expand and push the footer down */
}

.container {
    padding: 20px;
    flex-grow: 1; /* Allows the container to expand and take up available space */
}


/* Other styles remain unchanged */

.section {
    margin-bottom: 40px;
}

.Testimonials {
    margin: 60px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .Title {
        font-size: 40px;
        margin-left: 0;
    }

    .container {
        padding: 10px;
    }

    .section {
        margin-bottom: 30px;
    }
}

.customImage {
    width: 100px; /* Set the width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: add rounded corners */
    margin-left: 10px; /* Add space between text and image */
  }
  