/* General Styles */
.text-primary {
  color: #1d3735; /* Accent color */
}

/* Responsive Image */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Container for text and logo */
.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3rem;
}

.my-5 {
  margin: 3rem 0;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .display-4 {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }
}

.Title {
  font-size: 70px !important; /* Font size */
  font-weight: 700; /* Boldness - you can adjust this value */
  color: #66FCF1;
  text-shadow: 5px 5px 5px #0B0C10;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: "Sofadi One", system-ui; */
}



.chatbot-float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #66FCF1; /* Color from your palette */
  border: none;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}

.chatbot-float-button img {
  width: 50px;
  height: 50px;
}

.chatbot-container.expanded {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30%;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

.chatbot-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* border-radius: 50%; */
}

.chatbot-container.collapsed {
  display: none;
}
