/* Navbar CSS */

/* Adjustments for custom styling */
.custom-navbar {
  background-color: #1F2833;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar-brand {
  color: #66FCF1;
  font-size: 1.5rem;
}

.nav-link {
  color: #C5C6C7;
}

.nav-link:hover {
  color: #66FCF1;
}

.custom-search-button {
  color: #45A29E;
  border-color: #45A29E;
}

.custom-search-button:hover {
  background-color: #45A29E;
  color: #0B0C10;
}

/* Profile dropdown menu */
.nav-item.dropdown .dropdown-menu {
  background-color: #1F2833;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #C5C6C7;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #66FCF1;
  color: #0B0C10;
}

/* Profile icon */
.nav-item .fa-user {
  color: #C5C6C7; /* Icon color */
  font-size: 1.25rem; /* Adjust icon size */
}

.nav-item .fa-user:hover {
  color: #66FCF1; /* Icon color on hover */
}

/* Responsive styling for mobile */
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .custom-navbar {
    padding: 0 10px;
  }

  .custom-search-button {
    font-size: 0.9rem;
  }

  .fa-user {
    font-size: 1rem;
  }
}
