html, body {
    height: 100%;
    margin: 0;
}

/* src/styles/global.css */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f0f0f0;
}

/* For a gradient background */
body {
    background: linear-gradient(to bottom, lightgray, gray); /* Light cyan to white */
}
  
h1 {
    color: #333;
}
  
.container {
    padding: 20px;
}
